@use "../variables";
.apexcharts-tooltip.apexcharts-theme-light,
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title,
.apexcharts-xaxistooltip, .apexcharts-yaxistooltip{
    background-color: variables.$form-control-bg !important;
    color: variables.$default-text-color !important;
    border: 1px solid variables.$input-border !important;
}