@use "../variables";

.main-sidebar {
  margin-block-start: 4.25rem;
  padding-block-start: 0.5rem;
  padding-block-end: 5rem;
  height: 100vh;
  position: relative;
  overflow: auto;
  // box-shadow: 2px 0px 0px rgba(118, 138, 254, 0.03);
}

[data-nav-layout="vertical"] {
  .app-sidebar {
    height: 100%;

    .main-menu>.slide>.side-menu__item {
      margin-bottom: 8px;
    }
  }
}

[dir="rtl"] {
  .app-sidebar {
    .fe-chevron-right {
      transform: rotate(180deg);
    }
  }

  .sidemenu-toggle .header-link {
    .header-link-icon {
      transform: rotate(180deg);
    }
  }
}

.app-sidebar .slide-menu.doublemenu_slide-menu {
  display: none;
}

.app-sidebar .doublemenu_bottom-menu.main-menu {
  display: none;
}

.app-sidebar {
  width: 16rem;
  background: variables.$menu-bg;
  border-inline-end: 1px solid variables.$menu-border-color;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 103;
  transition: all 0.05s ease;

  .main-sidebar-header {
    height: 4.25rem;
    width: 16rem;
    position: fixed;
    display: flex;
    background: variables.$menu-bg;
    z-index: 9;
    align-items: center;
    justify-content: center;
    padding: 0.813rem 1rem;
    border-block-end: 1px solid variables.$menu-border-color;
    border-inline-end: 1px solid variables.$menu-border-color;
    transition: all 0.05s ease;

    .header-logo {
      img {
        height: 1.75rem;
        line-height: 1.75rem;
      }

      .desktop-logo {
        display: block;
      }

      .desktop-dark,
      .toggle-logo,
      .toggle-dark {
        display: none;
      }
    }
  }

  .slide-menu.child1 .side-menu__item:hover,
  .slide-menu.child2 .side-menu__item:hover,
  .slide-menu.child3 .side-menu__item:hover {
    color: var(--primary-color);
  }

  .slide__category {
    color: variables.$menu-prime-color;
    font-size: 0.65rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 0.75rem 1.75rem;
    white-space: nowrap;
    position: relative;
    opacity: 0.5;
  }

  .slide-menu {
    &.child1 {
      >.slide.active {
        >.side-menu__item.active {
          color: variables.$primary;

          .side-menu__angle {
            color:#fff;
          }

          &:hover {
            .side-menu__angle {
              color: #fff !important;
            }
          }
        }
      }
    }
  }

  .slide {
    margin: 0;
    padding: 0 1.3rem;
  }

  .side-menu__item {
    padding: 0.65rem 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.8125rem;
    color: variables.$menu-prime-color;
    font-weight: 400;
    border-radius: 0.3rem;

    &.active {
      color: variables.$primary;
      background-color: variables.$primary-01;

      .side-menu__label,
      .side-menu__angle {
        color: variables.$primary;
      }

      .side-menu__icon {
        color: variables.$primary;
        fill: variables.$primary;
      }

      &::before {
        opacity: 1 !important;
      }
    }

    &:hover {
      background-color: variables.$primary-01;

      .side-menu__label,
      .side-menu__angle {
        color: variables.$primary;
      }

      .side-menu__icon {
        color: variables.$primary;
        fill: variables.$primary;
      }

      &::before {
        opacity: 1 !important;
      }
    }

    &.active {
      font-weight: 500;
    }

    svg.side-menu__icon {
      width: 20px;
      height: 20px;
    }
  }

  .slide-menu {

    &.child1,
    &.child2,
    &.child3 {
      .side-menu__item {
        background-color: transparent !important;

        &.active {
          background-color: transparent !important;
        }
      }
    }
  }

  .slide-menu {
    padding: 0rem;
  }

  .slide-menu {

    &.child1,
    &.child2 {
      .side-menu__item {
        padding: 0.65rem 1rem;
      }
    }
  }

  .slide-menu {

    &.child1,
    &.child2,
    &.child3 {

      .side-menu__item {
        &:before {
          position: absolute;
          content: "\f3c1";
          font-family: remixicon !important;
          font-size: 5px;
          inset-block-start: 1.1875rem;
          inset-inline-start: 0;
          opacity: 0.6;
          line-height: 1;
        }
      }

      li {
        padding: 0;
        position: relative;
      }
    }

    &.child1 li {
      padding-inline-start: 2.25rem;
    }

    &.child2 li {
      padding-inline-start: 1.5rem;
    }

    &.child3 li {
      padding-inline-start: 1rem;
    }
  }

  .side-menu__label {
    white-space: nowrap;
    color: variables.$menu-prime-color;
    position: relative;
    font-size: .875rem;
    line-height: 1;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }

  .side-menu__icon {
    margin-inline-end: 0.75rem;
    font-size: 1.05rem;
    line-height: 1;
    text-align: center;
    color: variables.$menu-icon-color;
    fill: variables.$menu-icon-color;
    border-radius: variables.$default-radius;
  }

  svg.side-menu_icon {
    width: 1rem;
    height: 1rem;
  }

  .side-menu__angle {
    transform-origin: center;
    position: absolute;
    inset-inline-end: 1.25rem;
    line-height: 1;
    font-size: 1rem;
    color: variables.$menu-prime-color;
    transition: all 0.05s ease;
    opacity: 0.8;
  }

  .slide.side-menu__label1 {
    display: none;
  }
}

.horizontal-logo {
  padding: 1.25rem 0rem;
}

.slide.has-sub .slide-menu {
  transform: translate(0, 0) !important;
  visibility: visible !important;
}

.nav ul li {
  list-style-type: none;
}

.nav>ul {
  padding-inline-start: 0px;
}

.slide-menu {
  display: none;
}

.slide.has-sub {
  display: grid;

  &.open {
    >.side-menu__item .side-menu__angle {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: 992px) {
  [data-toggled="open"] {
    .page {
      position: absolute;
    }
  }

}

@media (max-width: 992px) {
  .slide.has-sub {
    display: grid;

    &.open {
      >.side-menu__item .side-menu__angle {
        transform: rotate(-90deg) !important;
      }
    }
  }
}

/* Responsive Styles Start */

@media (max-width: 991.98px) {
  .horizontal-logo {
    .header-logo {

      .desktop-logo,
      .desktop-dark,
      .toggle-dark {
        display: none;
      }

      .toggle-logo {
        display: block;
      }
    }
  }

  .main-content {
    padding-block-start: 4.25rem;
  }

  .main-sidebar-header {
    display: none !important;
  }

  .main-sidebar {
    margin-block-start: 0;
  }

  .app-sidebar {
    inset-block-start: 0;
  }

  .main-menu {
    margin: 0 !important;
  }
}

.slide-left,
.slide-right {
  display: none;
}

[data-nav-layout="vertical"] {
  .main-menu>.slide {

    &.active,
    &:hover {

      .slide-menu .side-menu__item:hover {
        .side-menu__angle {
          color: variables.$primary !important;
          fill: variables.$primary !important;
        }
      }
    }

    &.active {
      >.side-menu__item.active {
        color: variables.$white;
      }
    }
  }

  .slide-menu .side-menu__item:hover {
    .side-menu__angle {
      color: variables.$menu-prime-color !important;
      fill: variables.$menu-prime-color !important;
    }
  }
}

@media (min-width: 992px) {
  .horizontal-logo {
    display: none;
  }
}

/* Responsive Styles End */

/* Responsive Overlay Start */
#responsive-overlay {
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 101;
  background-color: rgba(15, 23, 42, 0.5);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;

  &.active {
    visibility: visible;
  }
}

/* Responsive Overlay End */

/* Go Premium Button */

.sidebar-profile {
  letter-spacing: 1px;
}

.sidebar-premium-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    letter-spacing: 1px;
  }
}

/* Go Premium Button */

@media (min-width: 992px) {

  [data-toggled=icon-click-closed]:not([data-nav-layout=horizontal]) .app-content,
  [data-toggled=icon-hover-closed]:not([data-nav-layout=horizontal]) .app-content,
  [data-toggled=icon-text-close]:not([data-nav-layout=horizontal]) .app-content,
  [data-toggled=menu-click-closed]:not([data-nav-layout=horizontal]) .app-content,
  [data-toggled=menu-hover-closed]:not([data-nav-layout=horizontal]) .app-content {
    min-height: calc(100vh + 50rem);
  }
}

.side-menu-doublemenu__icon {
  display: none;
}

[dir="rtl"] {
  @media (min-width: 992px) {
    .slide-menu.child1 .side-menu__angle {
      rotate: 180deg;
    }
  }
}

.app-sidebar {
  .doublemenu_slide-menu {
    background: var(--menu-bg);
  }
}

[data-bg-img="bgimg1"],
[data-bg-img="bgimg2"],
[data-bg-img="bgimg3"],
[data-bg-img="bgimg4"],
[data-bg-img="bgimg5"] {
  .app-sidebar {
    .doublemenu_slide-menu {
      background: var(--default-body-bg-color) !important
    }

    .doublemenu_bottom-menu {
      backdrop-filter: blur(30px);
    }
  }
}

[data-menu-styles="dark"][data-theme-mode="light"] {
  &[data-bg-img="bgimg1"],
  &[data-bg-img="bgimg2"],
  &[data-bg-img="bgimg3"],
  &[data-bg-img="bgimg4"],
  &[data-bg-img="bgimg5"] {
    .app-sidebar {
      .doublemenu_slide-menu {
        background: #202025 !important
      }
    }
  }
}

[data-menu-styles="color"]{
&[data-bg-img="bgimg1"],
&[data-bg-img="bgimg2"],
&[data-bg-img="bgimg3"],
&[data-bg-img="bgimg4"],
&[data-bg-img="bgimg5"] {
  .app-sidebar {
    .slide.has-sub .slide-menu {
      --light-rgb: 149, 105, 250;
      --input-border:219, 203, 255;
    }
    .doublemenu_slide-menu {
      background: variables.$primary !important
    }
  }
}
}

[data-menu-styles="gradient"]{
  &[data-bg-img="bgimg1"],
  &[data-bg-img="bgimg2"],
  &[data-bg-img="bgimg3"],
  &[data-bg-img="bgimg4"],
  &[data-bg-img="bgimg5"] {
    .app-sidebar {
      .slide.has-sub .slide-menu {
        --light-rgb: 149, 105, 250;
        --input-border:219, 203, 255;
      }
      .doublemenu_slide-menu {
        background: variables.$primary !important
      }
    }
  }
  }

  @media (max-width: 991.98px) {
    [data-toggled=open] #responsive-overlay {
        visibility: visible;
    }
}